.imgSet {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: white;
  cursor:pointer;

}
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
    
  transform: translate(-50%, -50%);
}
.jumbotron{
    text-align: center;
    background: none;
    color: #000000;
}
.row{
     background-color:aliceblue;
}
.sectionLight{
    background-color:aliceblue;
/*    padding: 2rem;*/
}

.zoom {
/*
  padding: 50px;
  background-color: green;
*/
  transition: transform .2s; /* Animation */
    display: block;
    margin:auto;
    width: 350px;
    height: 350px;
/*  margin: 0 auto;*/

}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*
.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper{
    margin-top:20px;
}
*/

/*
button.coolStuffBtn{
    background-color: red;
    color:#ffffff;
    display:block;
    margin: auto;
}

h5.modal-title{
    margin:auto;
}

.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin:auto;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width:100%;
}

.footerImg{
    padding:15px;
}

.fab{
   margin:10px; 
}

.fa-facebook-square{
  color:#3b5998;  
}

.fa-google{
    color:#c32f10;
}

.fa-instagram{
     color:#ffffff;
}

.socialWrapper{
    margin:auto;
}
*/
